#################################################
# Compiled output
#################################################
dist/
tmp/
out-tsc/
bazel-out/
*.tsbuildinfo

#################################################
# Angular
#################################################
.angular/cache/
.angular/

#################################################
# Node
#################################################
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

#################################################
# Environment variables
#################################################
.env
.env.*
!.env.example

#################################################
# Tests
#################################################
coverage/
__screenshots__/
testem.log

#################################################
# IDEs and editors
#################################################
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#################################################
# VSCode
#################################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

#################################################
# Miscellaneous
#################################################
.sass-cache/
connect.lock
libpeerconnection.log
typings/

#################################################
# System files
#################################################
.DS_Store
Thumbs.db