<footer class="bg-gray-100 border-t mt-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 flex flex-col md:flex-row justify-between items-center text-gray-600 text-sm">
      
      <span>
        © {{ currentYear }}
        <a href="https://gaynaakoit.com/"
            target="_blank"
            class="font-semibold text-gray-700 hover:text-blue-600 transition">
            Gaynako IT
        </a>. Tous droits réservés.
      </span>
  
      <div class="flex space-x-4 mt-2 md:mt-0">
        <a href="#" class="hover:text-blue-600">CGU</a>
        <a href="#" class="hover:text-blue-600">Politique de confidentialité</a>
        <a href="#" class="hover:text-blue-600">Contact</a>
      </div>

    </div>
  </footer>