#################################################
# Compiled output
#################################################
dist/
build/
node_modules/
*.tsbuildinfo

#################################################
# Logs
#################################################
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

#################################################
# OS
#################################################
.DS_Store
Thumbs.db

#################################################
# Tests
#################################################
coverage/
.nyc_output/

#################################################
# IDEs and Editors
#################################################
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#################################################
# VSCode
#################################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#################################################
# Environment Variables
#################################################
.env
.env.*
!.env.example

#################################################
# Temporary directories
#################################################
.temp/
.tmp/

#################################################
# Runtime data
#################################################
pids/
*.pid
*.seed
*.pid.lock

#################################################
# Diagnostic reports
#################################################
report.*.json

#################################################
# Docker
#################################################
docker-compose.override.yml